body{
    overflow: hidden;
    margin: 0;
}
#field{
    margin-top: 8px;
    margin-left: 8px;
    vertical-align: top;
    display: inline-block;
    width: 70%;
}
img{
    width: 100%;
}
#dots{
    position: absolute;
    top: 8px;
    left: 8px;
    height: inherit;
    width: inherit;
}
#body{
    vertical-align: top;
    position: relative;
    display: inline-block;
    width: 19%;
}
#wrapper{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.point{
    position: absolute;
    background-color: orange;
    height: 16px;
    width: 16px;
    border-radius: 16px;
}
#coords{
    display: block;
}
#points {
    margin-left: auto;
    margin-right: auto;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}
#points td input{
    border: 1px solid #ddd;
    text-align: right;
    width: 7em;
}
#points th{
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: #0b3311;
    color: white;
}
#add_point{
    position: relative;
    padding: 4px;
    margin: 4px;
    background-color: transparent;
    border: solid 2px #0b3311;
    color: #0b3311;
    font-weight: 600;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    width: 98%;
}
#addPoint:hover{
    background-color: #0b3311;
    color: white;
}
